@model WebClient.Models.Order

@{
    ViewData["Title"] = "Užsakymo peržiūra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row justify-content-center">
    <div class="card w-auto">
        <div class="card-header text-center font-weight-bold">
            Užsakymo peržiūra
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">@Html.DisplayNameFor(model => model.ID): <span class="float-right">@Html.DisplayFor(model => model.ID)</span></li>
            <li class="list-group-item">@Html.DisplayNameFor(model => model.Customer):<span class="float-right">@Html.DisplayFor(model => model.Customer)</span></li>
            <li class="list-group-item">@Html.DisplayNameFor(model => model.OrderStartDate): <span class="float-right">@Html.DisplayFor(model => model.OrderStartDate)</span></li>
            <li class="list-group-item">@Html.DisplayNameFor(model => model.OrderEndDate): <span class="float-right">@Html.DisplayFor(model => model.OrderEndDate)</span></li>
        </ul>
        <div class="card-footer">
            <div class="row justify-content-between mx-auto">
                <a asp-action="Index" class="btn btn-outline-secondary">&larr;Grįžtį į sąrąšą</a>
                @Html.ActionLink("Redaguoti", "OrderEdit", new { id = Model.ID }, new { @class = "btn btn-outline-primary ml-md-5" })
            </div>
        </div>
    </div>
</div>
