@model WebClient.Models.Order

@{
    ViewData["Title"] = "Užsakymo redagavimas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
        <div class="row justify-content-center">
            <div class="card w-50">
                <form asp-action="EditOrder" asp-route-id="@ViewContext.HttpContext.Request.RouteValues["id"]" asp-route-orderId="@Model.ID">
                    <div class="card-header p-0">
                        <nav class="navbar navbar-expand-md navbar-light p-1">
                            <h2 class="navbar-brand mx-auto font-weight-bolder">Užsakymo redagavimas</h2>
                            <a asp-action="Index" class="btn close text-dark"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </nav>
                    </div>
                    <div class="card-body">
                        <div class="form-inline">
                            <label asp-for="Customer" class="control-label col-md-4"></label>
                            <input asp-for="Customer" class="ml-md-1 form-control" />
                            <span asp-validation-for="Customer" class="text-danger"></span>
                        </div>

                        <div class="form-inline mt-md-1">
                            <label asp-for="OrderStartDate" class="control-label col-md-4"></label>
                            <input asp-for="OrderStartDate" class="ml-md-1 form-control" />
                            <span asp-validation-for="OrderStartDate" class="text-danger"></span>
                        </div>

                        <div class="form-inline mt-md-1">
                            <label asp-for="OrderEndDate" class="control-label col-md-4"></label>
                            <input asp-for="OrderEndDate" class="ml-md-1 form-control" />
                            <span asp-validation-for="OrderEndDate" class="text-danger"></span>
                        </div>

                        <div class="input-group">
                            <select class="custom-select" id="InventoryID" name="InventoryID">
                                @{
                                    foreach (Inventory item in ViewBag.inventories)
                                    {
                                        <option value="@item.ID">@item.Title</option>
                                    }
                                }
                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="inventory">Inventorius</label>
                            </div>
                        </div>
                        <div class="input-group mt-md-1">
                            <select class="custom-select" id="BicycleRackID" name="BicycleRackID">
                                @{
                                    foreach (BicycleRack item in ViewBag.bicycleRacks)
                                    {
                                        <option value="@item.ID">@item.Title</option>
                                    }
                                }
                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="inventory">Dv. laikiklis</label>
                            </div>
                        </div>
                        <div class="input-group mt-md-1">
                            <select class="custom-select" id="RoofRackID" name="RoofRackID">
                                @{
                                    foreach (RoofRack item in ViewBag.roofRacks)
                                    {
                                        <option value="@item.ID">@item.Title</option>
                                    }
                                }
                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="inventory">Bagažinė</label>
                            </div>
                        </div>
                        <div class="input-group mt-md-1">
                            <select class="custom-select" id="WheelChainID" name="WheelChainID">
                                @{
                                    foreach (WheelChain item in ViewBag.wheelChains)
                                    {
                                        <option value="@item.ID">@item.Title</option>
                                    }
                                }
                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="inventory">Grandinė</label>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <a class="btn btn-outline-secondary" asp-action="Index"><i class="fas fa-long-arrow-alt-left"></i> Grįžti</a>
                            <button type="submit" value="CreaterOrder" class="btn btn-outline-primary ml-auto"><i class="fas fa-check"></i> Redaguoti</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
